@model HELPERLAND.Models.ViewModels.AdminUMViewmodel;
@{
    Layout = "../Shared/layout3.cshtml";
    ViewData["Title"] = "User Management| Helperland";
}

<div class="adminpanel">

    <div class="top1">
        <p class="usermanagementheader"><b>User Management</b></p>
        <a href="#" class="addnewuser">
            <p class="plus">+</p>Add New User
        </a>
    </div>
    <span class="errorspan mx-3"></span>

    <form action="">
        <div class="top2">
            <select id="adminusername" class="adminpanelform">
                <option value="">User Name</option>
                @if (Model != null && Model.Names.Any())
                {
                    foreach (var name in Model.Names)
                    {
                        <option value="@name">@name</option>
                    }
                }

            </select>
            <select name="" id="User-Role" aria-placeholder="User-Role" class="adminpanelform">
                <option value="">User Type</option>
                <option value="Admin">Admin</option>
                <option value="Customer">Customer</option>
                <option value="Service Provider">Service Provider</option>
                @* <option value="3">Call Center</option> *@
            </select>
            <div class="adminccmono">
                <select name="" id="admincc" class="adminpanelform">
                    <option value="1">+49</option>
                    <option value="2">+91</option>
                    <option value="3">+1</option>
                </select>
                <input type="text" id="adminmono" placeholder="Phone Number" class="adminpanelform">
            </div>

            <input type="text" id="adminzipcode" placeholder="zipcode" class="adminpanelform">
            <input type="submit" id="adminsubmit" placeholder="Search" class="adminpanelform">
            <input type="reset" id="adminreset" placeholder="reset" class="adminpanelform">
        </div>
    </form>

    <div class="top3">
        <table id="ustable">
            <thead>
                <tr>
                    <th class="tac">Username</th>
                    <th class="tac">User Type</th>
                    <th class="tac">Postal Code</th>
                    <th class="tac">City</th>
                    <th class="tac">Phone Number</th>
                    <th class="tac">User Status</th>
                    <th class="tac">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.viewModels.Any())
                {
                    foreach (var um in Model.viewModels)
                    {
                        <tr>
                            <td class="admindatatabledata">@um.FirstName @um.LastName</td>
                            @if (um.UserTypeId == 2)
                            {
                                <td class="admindatatabledata">Service Provider</td>
                            }
                            else if (um.UserTypeId == 3)
                            {
                                <td class="admindatatabledata">Admin</td>
                            }
                            else
                            {
                                <td class="admindatatabledata">Customer</td>
                            }
                            <td class="admindatatabledata">@um.ZipCode</td>
                            <td class="admindatatabledata">@um.City</td>
                            <td class="admindatatabledata">@um.PhoneNumber</td>

                            @if (um.UserTypeId == 1)
                            {
                                <td class="admindatatabledata">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="adminredgreen" id="green">Active</p>
                                    </div>
                                </td>
                                <td class="admindatatabledata actioncenter">
                                    <button type="button" id="btnpopover" class="btn btn-lg " data-bs-toggle="popover"
                            data-bs-content="<div class='adminactionbutton'><a href='#' class='textnone'>Edit</a><a href='#' class='textnone'>Deactivate</a><a href='#' class='textnone'>Service History</a></div>"
                            data-bs-html="true" data-bs-placement="bottom"><img src="~/images/threedot.png" alt="">
                                    </button>
                                </td>
                            }
                            else if (um.IsApproved)
                            {
                                <td class="admindatatabledata">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="adminredgreen" id="green">Active</p>
                                    </div>
                                </td>
                                <td class="admindatatabledata actioncenter">
                                    <button type="button" id="btnpopover" class="btn btn-lg " data-bs-toggle="popover"
                            data-bs-content="<div class='adminactionbutton'><a href='#' class='textnone'>Edit</a><a href='#' class='textnone' onclick=Activate('@um.UserId','@um.IsApproved')>Deactivate</a><a href='#' class='textnone'>Service History</a></div>"
                            data-bs-html="true" data-bs-placement="bottom"><img src="~/images/threedot.png" alt="">
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td class="admindatatabledata">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="adminredgreen" id="red">Inactive</p>
                                    </div>
                                </td>
                                <td class="admindatatabledata actioncenter">
                                    <button type="button" id="btnpopover" class="btn btn-lg " data-bs-toggle="popover"
                            data-bs-content="<div class='adminactionbutton'><a href='#' class='textnone'>Edit</a><a href='#' class='textnone' onclick=Activate('@um.UserId','@um.IsApproved')>Activate</a><a href='#' class='textnone'>Service History</a></div>"
                            data-bs-html="true" data-bs-placement="bottom"><img src="~/images/threedot.png" alt="">
                                    </button>
                                </td>
                            }
                        </tr>

                    }
                }

            </tbody>
        </table>
    </div>

    <div class="top4">
        <p>©2018 Helperland. All rights reserved.</p>
    </div>

</div>

@section CustomScripts{
<script src="/js/adminusermanagement.js" asp-append-version="true"></script>
}