<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />


    <link rel="stylesheet" media='screen and (min-width: 140px) and (max-width: 1086px)' href="~/css/mobile.css" />
    <link rel="stylesheet" media='screen and (min-width: 1086px)' href="~/css/style.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />

    @RenderSection("CustomCSS",required:false)

    <title>@ViewData["Title"]</title>
</head>

<body>
    <section class="usnavstyle">
        <div>
            <a asp-controller="Home" asp-action="index">
                <img src="~/images/logo-small.png" alt="" style="margin-left: 10px;">
            </a>
        </div>

        <div class="usnav1">

            <a asp-controller="Bookservice" asp-action="setupservice" class="navuscont" id="r">Book a Cleaner</a>

            <a asp-controller="Home" asp-action="Price" class="navuscont">Prices & Services</a>
            <a href="#" class="navuscont">Warrenty</a>
            <a href="#" class="navuscont">Blog</a>
            <a asp-controller="Home" asp-action="Contact" class="navuscont">Contact</a>

            @if (User.Identity != null && User.IsInRole("Customer"))
            {

                <a href="#"><img src="~/images/icon-notification.png" alt="" id="usnavicon"></a>
                <button type="button" id="btnpopover" class="btn btn-lg " data-bs-toggle="popover"
                data-bs-custom-class="navbarpopover" data-bs-offset="-50,20"
                title="<div class='userInfoText'>Welcome,<b class='d-block'>@User.Identity.Name</b></div>"
                data-bs-content="<div class='adminactionbutton d-flex flex-column'><a href='/Customer/dashboard' class='textnone'>My dashboard</a><a href='/Customer/mysettings' class='textnone'>My Setting</a><a href='/Signup/Logout' class='textnone'>Logout</a></div>"
                data-bs-html="true" data-bs-placement="bottom">
                    <img src="~/images/self.png" alt="" id="usnavself">
                    <img src="~/images/selfside.png" alt="" id="usnavss">
                </button>
            }
            else if (User.Identity != null && User.IsInRole("Provider"))
            {
                <a href="#"><img src="~/images/icon-notification.png" alt="" id="usnavicon"></a>
                <button type="button" id="btnpopover" class="btn btn-lg " data-bs-toggle="popover"
                data-bs-custom-class="navbarpopover" data-bs-offset="-50,20"
                title="<div class='userInfoText'>Welcome,<b class='d-block'>@User.Identity.Name</b></div>"
                data-bs-content="<div class='adminactionbutton d-flex flex-column'><a href='/Provider/NewServiceRequest' class='textnone'>New Requests</a><a href='/Provider/MySettings' class='textnone'>My Setting</a><a href='/Signup/Logout' class='textnone'>Logout</a></div>"
                data-bs-html="true" data-bs-placement="bottom">
                    <img src="~/images/self.png" alt="" id="usnavself">
                    <img src="~/images/selfside.png" alt="" id="usnavss">
                </button>
            }

        </div>
    </section>


    <section class="usnavmobile">
        <div class="navjustify">

            <img src="~/images/logo-small.png" alt="">

            <a href="#"><img src="~/images/icon-notification.png" alt="" id="usnavicon"></a>

            <div class="hamburger2">
                <img src="~/images/togler.png" alt="">
            </div>
        </div>

        <div class="usnav2">
            <div class="closebutton">

            </div>
            <div class="opennav">
                @if (User.Identity != null)
                {
                    <p class="welcomesp">Welcome!</p>
                    <p class="welcomesp"><b>@User.Identity.Name</b></p>
                    <span></span>
                    if (User.IsInRole("Customer"))
                    {
                        <a asp-controller="Customer" asp-action="dashboard" class="vertnavcont">Dashbord</a>
                        <a asp-controller="Customer" asp-action="mysettings" class="vertnavcont">My Settings</a>
                        <a asp-action="Logout" asp-controller="Signup" class="vertnavcont">Logout</a>
                        <span></span>
                        <a asp-controller="Customer" asp-action="servicehistory" class="vertnavcont">Service History</a>
                        <a href="#" class="vertnavcont">Service Schedule</a>
                        <a href="#" class="vertnavcont">Favourite Pros</a>
                        <a href="#" class="vertnavcont">Invoices</a>
                        <a href="#" class="vertnavcont">Notification</a>
                    }
                    else if (User.IsInRole("Provider"))
                    {
                        <a asp-controller="Provider" asp-action="NewServiceRequest" class="vertnavcont">New Requests</a>
                        <a asp-controller="Provider" asp-action="mysettings" class="vertnavcont">My Settings</a>
                        <a asp-action="Logout" asp-controller="Signup" class="vertnavcont">Logout</a>
                        <span></span>
                        <a asp-controller="Provider" asp-action="UpcomingService" class="vertnavcont">Upcoming Service</a>
                        <a asp-controller="Provider" asp-action="ServiceSchedule" class="vertnavcont">Service Schedule</a>
                        <a asp-controller="Provider" asp-action="ServiceHistory" class="vertnavcont">Service History</a>
                        <a asp-controller="Provider" asp-action="MyRatings" class="vertnavcont">My Ratings</a>
                        <a asp-controller="Provider" asp-action="BlockCustomer" class="vertnavcont">Block Customer</a>
                        <a href="#" class="vertnavcont">Invoices</a>
                        <a href="#" class="vertnavcont">Notification</a>
                    }
                }

                <span></span>

                <a asp-controller="Bookservice" asp-action="setupservice" class="vertnavcont">Book Now</a>

                <a asp-controller="Home" asp-action="Price" class="vertnavcont">Prices & Services</a>
                <a href="#" class="vertnavcont">Warrenty</a>
                <a href="#" class="vertnavcont">Blog</a>
                <a asp-controller="Home" asp-action="Contact" class="vertnavcont">Contact</a>
                <span></span>
                <div>
                    <a href="https:/www.instagram.com"><img src="~/images/Forma 1_3.png" alt=""
                            style="filter: invert(1);"></a>
                    <a href="https:/www.facebook.com"><img src="~/images/Forma 1_5.png" alt=""
                            style="filter: invert(1);"></a>
                </div>
            </div>
        </div>
    </section>
    <div class="welcometext">
        @if (User.Identity != null)
        {
            <p>Welcome, <b>@User.Identity.Name</b></p>
        }
    </div>
    <section class="uscont">
        <div class="vertnav sticky-top">
            @if (User.IsInRole("Customer"))
            {
                <a asp-controller="Customer" asp-action="dashboard" class="vertnavcont" id="dashboard">Dashbord</a>
                <a asp-controller="Customer" asp-action="servicehistory" class="vertnavcont" id="servicehistory">Service
                    History</a>
                <a href="#" class="vertnavcont">Service Schedule</a>
                <a asp-controller="Customer" asp-action="FavouriteAndBlocked" class="vertnavcont"
                id="favouriteandblocked">Favourite Pros</a>
                <a href="#" class="vertnavcont">Invoices</a>
                <a href="#" class="vertnavcont">Notification</a>
            }
            else if (User.IsInRole("Provider"))
            {
                <a href="#" class="vertnavcont">Dashboard</a>
                <a asp-controller="Provider" asp-action="NewServiceRequest" class="vertnavcont" id="newservicerequest">New
                    Service Request</a>
                <a asp-controller="Provider" asp-action="UpcomingService" class="vertnavcont" id="upcomingservice">Upcoming
                    Service</a>
                <a asp-controller="Provider" asp-action="ServiceSchedule" class="vertnavcont" id="ServiceSchedule">Service
                    Schedule</a>
                <a asp-controller="Provider" asp-action="ServiceHistory" class="vertnavcont" id="servicehistory">Service
                    History</a>
                <a asp-controller="Provider" asp-action="MyRatings" class="vertnavcont" id="myrating">My Ratings</a>
                <a asp-controller="Provider" asp-action="BlockCustomer" class="vertnavcont" id="blockcustomer">Block
                    Customer</a>
                <a href="#" class="vertnavcont">Invoices</a>
                <a href="#" class="vertnavcont">Notification</a>
            }
        </div>

        @RenderBody()

    </section>
    <div class="footer">
        <div class="img">
            <img src="~/images/white_logo_transparent_background copy 4.png" alt="" class="footerlogo">
        </div>
        <div id="navbottomflex">
            <a asp-controller="home" asp-action="index" class="navb">Home</a>
            <a asp-controller="home" asp-action="About" class="navb">About</a>
            <a href="" class="navb">Testimonials</a>
            <a asp-controller="home" asp-action="Facq" class="navb">FAQS</a>
            <a href="" class="navb">Insurance Policy</a>
            <a href="" class="navb">Impressum</a>
        </div>
        <div class="igfb">
            <a href="https:/www.instagram.com/__aaiyaz_24" class="navb"><img src="~/images/Forma 1_3.png" alt=""
                    id="ig"></a>
            <a href="https:/www.facebook.com/Ayaj Khalani" class="navb"><img src="~/images/Forma 1_5.png" alt=""
                    id="ig"></a>
        </div>
    </div>

    <div class="terms text-center">
        ©2018 Helperland. All rights reserved. <a href="#" class="text-decoration a-color">Terms and Conditions</a>
        | <a href="#" class="text-decoration a-color">Privacy Policy</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
        integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
        integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })


        const hamburger2 = document.querySelector('.hamburger2');
        const opennav = document.querySelector('.usnav2');
        const closebutton = document.querySelector('.closebutton');

        hamburger2.addEventListener('click', () => {
            opennav.classList.add('open');
        })
        closebutton.addEventListener('click', () => {
            opennav.classList.remove('open')
        })

    </script>

    @RenderSection("CustomScripts",required:false)

</body>

</html>